{{ define "content" }}
<section class="hero is-medium">
  <div class="hero-body is-flex-direction-column" style="background-image: url({{ .Params.featured_image }}); background-size: cover;">
  </div>
</section>
<article class="section has-text-centered">
  <div class="container">
    <h1 class="title is-1 my-1">{{ .Title | title }}</h1>
    <p class="is-less-dark my-1">{{ .Params.date.Format "02 Jan 2006" }}</p>
    <div class="article-authors">
      {{ with .Params.authors }}
        <h2 class="subtitle has-text-weight-bold is-4">
          {{ range $index, $author := . }}
            {{- if gt $index 0 -}}, {{ end -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "authors" $author) -}}
              <a href="{{ .RelPermalink }}">{{- $author | humanize | title -}}</a>
            {{- end -}}
          {{ end }}
        </h2>
      {{ end }}
    </div>
  </div>
  <div class="container has-text-left article-content">
    {{ .Content }}
  </div>
  <div class="article-footer">
    <p>
      {{ with .Params.categories }}
      <strong>{{ if gt (len .) 1 }}Categories: {{ else }}Category: {{ end }}</strong>
        {{ range . }}
          {{ $cat := . }}
          {{ with $.Site.GetPage (printf "/%s/%s" "categories" $cat) }}
            <span class="article-footer-cat"><a href="{{ .RelPermalink }}" class="article-cat-link">{{ $cat | title }}</a></span>
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
    <p>
      {{ with .Params.tags }}
      <strong>Tag{{ if gt (len .) 1 }}s{{ end }}: </strong>
        {{ range . }}
          {{ $tag := . }}
          {{ with $.Site.GetPage (printf "/%s/%s" "tags" $tag) }}
            <span class="article-footer-tag"><a href="{{ .RelPermalink }}" class="article-tag-link">{{ $tag | title }}</a></span>
          {{ end }}
        {{ end }}
      {{ end }}
    </p>
  </div>
  <div class="container my-6">
    {{ partial "nextprev" . }}
  </div>
  <div class="related-articles">
    {{ partial "related" . }}
  </div>
</article>
{{ end }}
