.footer,
.footer * {
  background-color: var(--color-dark);
  color: var(--color-lightest);
}

.footer a:hover {
  color: var(--color-lightest);
  background-color: var(--color-secondary);
}

.twitter-logo,
.socials a {
  width: 2rem;
  height: 2rem;
}

