header {
  color: var(--color-lightest);
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-lightest);
}

.logo:hover {
  color: var(--color-lightest) !important;
  background-color: var(--color-secondary) !important;
}

