.nextprev-container {
  margin-block: 3rem;
}

.nextprev-container,
.nextprev {
  width: 100%;
}

.nextprev a {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

.nextprev a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nextprev a,
.nextprev a:hover {
  transition: box-shadow 0.3s ease-in-out;
}

