.prev-art,
.next-art {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
}

.prev-art:hover,
.next-art:hover {
  color: var(--color-primary);
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prev-art,
.next-art,
.prev-art:hover,
.next-art:hover {
  transition: box-shadow 0.3s ease-in-out;
}

