<nav class="navbar is-fixed-top is-shadowless is-dark">
  <div class="container">
    <a href="{{ "/" | absURL }}" class="navbar-item logo">Blog Brand</a>
    <div class="navbar-menu navbar-end">
      <a href="{{ "/" | absURL }}" class="navbar-item">Home</a>
      <a href="{{ "/articles/" | absURL }}" class="navbar-item">Articles</a>
      {{ range where .Site.RegularPages "Section" "meta" }}
        <a href="{{ .Permalink }}" class="navbar-item">{{ .Title }}</a>
      {{ end }}
    </div>
  </div>
</nav>
